$font-light:      300;
$font-normal:     400;
$font-semi-bold:  600;
$font-bold:       700;
$font-extra-bold: 900;

$font-body: "Titillium Web", Helvetica, Arial, sans-serif;
$font-code: "Roboto Mono", Consolas, "Courier New", monospace;