.container {
	@extend %inset-sides-l;

	position: relative;
	max-width: 100rem;
	margin-left:  auto;
	margin-right: auto;

	&.container--padded {
		@extend %inset-edges-l;
	}
}

.inset {
	@extend %inset;
}